* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 /*comuni*/
 img{
    max-width: 100%;
    display: block;
 }

  /* container*/
  .container-jumbo{
    max-width: 1190px;
    margin: 0 auto;
  }


/*stile liste */
li{
    list-style: none;
}
/* background*/
section{
    background-color: #b4d0e6;
}


/* flex */
.flex{
    display: flex;
} 
.beetween{
    justify-content: space-between;
}

.gap{
    gap: 20px;
}

/* padding*/
header{
    padding: 30px 20px;
}

/* larghezza*/
.wh-50{
    width: 50%;
}