* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 /*comuni*/
 body{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
 }

 button{
    all: unset;
 }
 img{
    max-width: 100%;
    display: block;
 }

  /* container*/

  .hg-100{
    height: 100%;
  }
  .hg-min{
        min-height: 80px;
  }
  .container-jumbo{
    max-width: 1190px;
    margin: 0 auto;
  }
.container-main{
    max-width: 1000px;
    margin: 0 auto;
}
.table{
    max-width: calc(100% /3);
}

/*stile liste */
li{
    list-style: none;
}
/* background*/
.bg-celeste{
    background-color: #b4d0e6;
}
.bg-nero{
    background-color: #000;
}

/*colore testo*/

.blue{
    color: #0061ff;
}
footer{
    color: #ffffff;
}
.grey{
    color: #d0cfd4;
}

/* flex */
.flex{
    display: flex;
} 
.beetween{
    justify-content: space-between;
}

.gap{
    gap: 20px;
}
.colonnum{
 flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

/* padding*/
.pd-30{
    padding: 30px;
}
.pd-50{
    padding: 50px;
}
.pd-10{
    padding: 20px;
}

.bt-blu{
    padding: 10px;
}



/* larghezza*/
.max{
    width: auto;
}
.wh-50{
    width: 50%;
}

.wh-40{
    width: 40%;
}
.wh-60{
    width: 60%;
}



.wh-30{
    width: 30%;
}
.wh-70{
    width: 70%;
}

.wh20{
    max-width: calc(100%-60px)/6;
}

.wh-90px{
    padding: 90px 0px;
}

/*margine*/


.mgbt-35px{
    margin: 35px 0px;
}
.margin-20-30{
    margin: 30px 20px;
}
.mb-35{
    margin-bottom: 35px;
}
.mg-25{
    margin-bottom: 25px;
}
.mg-15{
    margin-bottom: 15px;
}
.mg50{
    margin-bottom: 50px;
}
.mg-90{
    margin-bottom: 90px;
}

.mg-mondo{
    margin-top: 50px;
    padding: 50px;
}
/* bordi */

.bordo-alto{
    border-top: 2px  solid #d0cfd4;
}


.border{
    border: 2px  solid #d0cfd4;
}

.bordo-basso{
    border-bottom: 2px solid #d0cfd4  ;
}
.border-top{
    border-top: 2px solid #ffffff;
}
.border-bot{
    border-bottom: 2px solid black;
}
.mb-80{
    margin-bottom: 80px;
}
.mb-100{
    margin-bottom: 200px;
}
.radio{
    border: 2px solid #000;
    border-radius: 50%;
    width: 23px;
}
.bb{
    border: 4px solid;
    border-color: #0061ff;
}

/* stile link */
.linktop {
    text-decoration: none;
    color: #2f2f2f ;
}
.linea:hover{
    border-bottom: 2px solid #000;
}

/* stile bottoni*/
.bt-blu{
    background-color:#0061ff ;
    color:#ffffff ;
}
.bt-blu:hover {
    filter: brightness(1.4);
  }


  .bt-bianco{
    background-color:#ffffff ;
    color:#000 ;
    border: 2px solid black;
    padding: 10px;
}
.bt-blu:hover {
    filter: brightness(1.4);
  }


/* testo*/

h1{
    font-size: 80px;
}
h5{
    font-size: 24px;
}

.fs-16{
    font-size: 16px;
}
.fs40{
    font-size: 40px;
}
.center{
    text-align: center;
}
.fs-22{
    font-size: 22px;
}
.fs-25{
    font-size: 25px;
}
.bold{
    font-weight: bold;
}
/*  banner */

.imgtop{
   align-self: center;
}
.linea{
    line-height: 100px;
}


/*position*/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
}
.container-jumbo{
    position: relative;
    top: 80px;
}
/*footer */
footer u{
    font-size: 15px;
    text-decoration: none;
}

/* freccia*/
.freccia{
   font-size: 60px;
   position: relative;
   bottom: 44px;
}
/* spunta /**/
li i{
    color: #0061ff;
}
