* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 /*comuni*/
 img{
    max-width: 100%;
    display: block;
 }

  /* container*/
  .container-jumbo{
    max-width: 1190px;
    margin: 0 auto;
  }
.container-main{
    max-width: 1000px;
    margin: 0 auto;
}
.table{
    max-width: calc(100% /3);
}

/*stile liste */
li{
    list-style: none;
}
/* background*/
.bg-celeste{
    background-color: #b4d0e6;
}


/* flex */
.flex{
    display: flex;
} 
.beetween{
    justify-content: space-between;
}

.gap{
    gap: 20px;
}
.colonnum{
 flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

/* padding*/
header{
    padding: 30px 20px;
}

/* larghezza*/
.wh-50{
    width: 50%;
}

.wh-30{
    width: 30%;
}
.wh-70{
    width: 70%;
}




/* bordi */
.border{
    border: 2px  solid black;
}